body,
html {
    margin: 0;
    padding: 0;
}

.w-80 {
    width: 80%;
}
.navbar{
    z-index: 5;
}
.alert{
    z-index: 4;
    /*position: fixed;*/
}
.form-inline {
    width: 100%;
    border-radius: 2em;
    background: #DDDDDD;
    padding: 0.5em 0.7em 0.5em 0.7em;
}

.form-inline .fa-search {
    font-size: 1em;
}

.form-control- {
    border: none;
    background: #DDDDDD;
    outline: 0;
}

.fa-ellipsis-v {
    font-size: 1.8em;
}

.dropdown-toggle::after {
    display: none;
}

.search-btn- {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial,
        sans-serif;
    /*input has OS specific font-family*/
    color: black;
    cursor: pointer;
}

.search-btn,
.search-btn:hover {
    color: black;
    text-decoration: none;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}

.submit-a-photo {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;
    font-weight: bold;
    font-size: 0.9em;
    color: inherit;
    transition: all 0.2s ease;
}

.submit-a-photo:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: black;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: black;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
}

.site-space-background {
    z-index: -5;
    min-height: 100%;
    min-width: 100vw;
    position: fixed;
    filter: brightness(50%);
    background: #FFFFFF no-repeat center center;
    background-image: url('/static/images/backgrounds/allef-vinicius-P2BoE6tb8ig-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    animation: shrink 10s infinite alternate;
}


@keyframes shrink {
    0% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1.0)
    }
}

.site-main-banner {
    margin-top: none;
    padding-top: 1em;
    z-index: 1;
    min-height: 100vh;
}

.ban {
    background-color: white;
    padding: 2em;
}

#heading {
    font-size: 6em;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    #heading {
        font-size: 4em;
    }
    .site-main-banner,
    .site-space-background {
        min-height: 55vh !important;
    }

    .img-logo{
        width:50%!important;
    }

    .display-4{
        background-color: white;
        line-height: 1.4em;
    }

    body > div.landing-2.bg-cont > div > div > div.col-12.col-lg-6.mt-sm-5 > div > div > h1 a{
        color:#22AADD!important;

        text-shadow: none!important:;
        background-color: none!important:;
        padding: initial!important:;
        border-radius: initial!important:;
    }
}

@media screen and (max-width: 768px) {
    #heading {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 577px) {
    #heading {
        font-size: 2em;
    }

    .searchbar:hover>.search_input {
        width: 80%;
    }
    .site-main-banner,
    .site-space-background {
        min-height: 40vh !important;
    }

    .bg-cont {
        background: white!important;
    }
}

#heading,
#sub-heading {
    user-select: none;
    text-shadow: 4px 3px 10px black;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.landing-2 {
    min-height: 100vh;
    background: white;
    margin: none;
    padding: none;
}

.bg-cont {
    background-image: url('/static/images/content/1081.jpg');
    min-height: 80vh;
    background-color: white;
    background-position: top;
    background-size: cover;
    color: white;
}

.text-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-logo{
    width:65%;
    vertical-align: middle;
}

.navbar{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
body > div.landing-2.bg-cont > div > div > div.col-12.col-lg-6.mt-sm-5 > div > div > h1 a{
    text-decoration: none;
    color: black;
    transition: all 0.5s ease; 
}

body > div.landing-2.bg-cont > div > div > div.col-12.col-lg-6.mt-sm-5 > div > div > h1 a:hover{
    text-shadow: 1px 1px 8px white,
                1px 1px 8px #22AADD;
    background-color: rgba(255,255,255,0.7);
    padding: 0.3em;
    border-radius: 2em;
}

.landing-3{
    min-height: 100vh;
    color:white;
    background-color: black;
}

.yellow{
    color:yellow;
    border : 3px dashed yellow;
    padding: 0.3em;
    border-radius: 100%;


}

#gender li{
    list-style: none;
}

.coverPhoto{
    background-image: url('/static/images/profile/coverPhoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 60vh;
}
.userBannerInfo:nth-of-type(1){
    font-weight: bold;
    font-size: 2.2em;
}
.userBannerInfo{
    color:white;
    font-size: 2em;
    background-color: black;
    display: inline-block;
    padding: 0.2em;
}

.proPic{
    border: 4px solid white;
    box-shadow: 1px 1px 8px black;
    border-radius: 50%;
    width: 60%;
    /*height: 50%*/
}
.userInfo{
    /*z-index: 8;*/
}
.btn-outline-light{
    background-color: rgba(0,0,0,0.8);
}