{% extends "common.html" %}
{% block content %}
<h2>Business Information</h2>
<h3><b>Founded On</b></h3><br><h6>5 November 2019</h6><br>
<h3><b>Mission</b></h3><br>
"Give people the power to build community and bring the world closer together."
<h2>Founders</h2>
<h5><b>GAGAN DEEP SINGH<b></h5><br>
<h5><b>RITIK BHATNAGAR</b></h5><br>
<h5><b>MAYANK SETIA</b></h5><br><br><br>
<h2>ABOUT PROSFORA</h2>
<p>A social media platform for artists and Common Users who want to share and connect with each other. Prosfora will be a combination of many Existing Social Media Platforms and will try to bring the power of all into ONE.</p>
{% endblock %}