{% extends "common.html" %}
{% block content %} 
<center><h2>For Further Support Contact Us At</h2></center>
<h5>Gagan Deep Singh
<form method="post" action="mailto:gagangulyanig@gmail.com" >
<input type="submit" value="Send Email" /> 
</form>
</h5>
<h5>Ritik Bhatnagar
<form method="post" action="mailto:ritikbhatnagar600@gmail.com" >
<input type="submit" value="Send Email" /> 
</form>
</h5>
<h5>Mayank Setia
<form method="post" action="mailto:mayanksetia25@gmail.com" >
<input type="submit" value="Send Email" /> 
</form>
</h5>
{% endblock %}