{% extends "common.html" %} {% block content %}
<div class="section-content">
    {{ super() }}
    <br>
    <center>
        <h4>Followers</h4>
    </center>
    <br> {% if users %} {% for user in users %}
    <h5>1.&nbsp;<img src="/data/{{user.userID}}/profilePic.jpeg" height="50" width="50">&nbsp;{{user.name}}&nbsp; {% if user.userID in current_user.following %}
        <a class="btn btn-success" href="/profile/{{user.username}}"> Following</a> {% else %}
        <a class="btn btn-outline-dark" href="/profile/{{user.username}}"> Follow</a> {% endif %}
    </h5><br> {% endfor %}{% else %}
    <h1>No Users to show</h1> {% endif %}
</div>
{% endblock %}