{% extends "common.html" %}
{% block content %}
<div class="section-content">
	{{ super() }}
	<br>
	<center><h4>Followers</h4></center>
	<br>
	<h5>1.&nbsp;<img src="/static/images/profile/coverPhoto.jpg" height="50" width="50">&nbsp;Ritik Bhatnagar&nbsp;<a class="btn btn-outline-dark" href="#">Follow</a></h5><br>
	<h5>2.&nbsp;<img src="/static/images/profile/profilePic.jpg" height="50" width="50">&nbsp;Mayank Setia&nbsp;<a class="btn btn-outline-dark" href="#">Follow</a></h5><br>
	<h5>3.&nbsp;<img src="/static/images/profile/1.jpg" height="50" width="50">&nbsp;Gagan Deep Singh&nbsp;<a class="btn btn-outline-dark" href="#">Follow</a></h5><br>
	<h5>4.&nbsp;<img src="/static/images/profile/2.jpg" height="50" width="50">&nbsp;Kamna Dagar&nbsp;<a class="btn btn-outline-dark" href="#">Follow</a></h5><br>
	<h5>5.&nbsp;<img src="/static/images/profile/3.jpg" height="50" width="50">&nbsp;Vansh Dhariwal&nbsp;<a class="btn btn-outline-dark" href="#">Follow</a></h5><br>
	<h5>6.&nbsp;<img src="/static/images/profile/4.jpg" height="50" width="50">&nbsp;Suparna Khara&nbsp;<a class="btn btn-outline-dark" href="#">Follow</a></h5><br>
</div>
{% endblock %}