{% extends 'common.html'%}
{% block title %}
{{super()}} : Social Media for Artists
{% endblock %}
{% block content %}
{% if not current_user.is_authenticated %}
<div class="site-space-background"></div>
<div class="site-main-banner container">
    {{super()}}
    <div class="row text-light">
        <div class="col-12 text-center">
            <h1><a id='heading' href="/">Prosforá</a></h1>
            <h4 id='sub-heading'>Social Media for Artists</h4>
            <div class="d-flex justify-content-center">
                <form action="/search">
                    <div class="searchbar mt-3">
                        <input class="search_input" type="text" name="q" placeholder="Search Something...">
                        <button class="search-btn- search_icon" href="">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="landing-2 bg-cont">
    <div class="container">
        <div class="row pt-0 pb-5">
            <div class="col-12 col-lg-6">
                <img src='/static/images/logo.svg' class="text-middle mt-2 mt-lg-5 img-logo d-none d-sm-block mx-auto">
            </div>
            <div class="col-12 col-lg-6 mt-sm-5" style="color: black;">
                <div class="row">
                    <div class="col-12 pt-5 mt-sm-2">
                        <h1 class="text-center text-middle display-lg-2 display-4"><span class="joinNow"><b><a href="/register">Join</a> Now</b><br> to<br></span> <b><a href="/connect">Connect</a></b> and <b><a href="post">Share</a></b><br><i style="font-size: 0.5em;">with the <b>people</b> around the <b>world</b>.</i></h1>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img src='/static/images/logo.svg' class="text-middle mt-2 mt-lg-5 img-logo d-block d-sm-none mx-auto">
            </div>
        </div>
    </div>
</div>
<div class="landing-3">
    <div class="container pt-5">
        <h1 class="text-center"><i class="fa fa-star yellow d-sm-inline d-none" aria-hidden="true"></i> Top Rated Content <br class='d-sm-none d-inline'><i class="fa fa-star yellow d-sm-none d-inline" aria-hidden="true"></i></h1>
        <div class="row text-center pt-5">
            <div class="col-12 col-sm-6 mt-5">
                <h1>hi</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam accusamus facere iusto, autem soluta amet sapiente ratione inventore nesciunt, a maxime quasi consectetur rerum illum deserunt modi similique quibusdam asperiores.</p>
            </div>
            <div class="col-12 col-sm-6 mt-5">
                <h1>hi</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam accusamus facere iusto, autem soluta amet sapiente ratione inventore nesciunt, a maxime quasi consectetur rerum illum deserunt modi similique quibusdam asperiores.</p>
            </div>
            <div class="col-12 col-sm-6 mt-5">
                <h1>hi</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam accusamus facere iusto, autem soluta amet sapiente ratione inventore nesciunt, a maxime quasi consectetur rerum illum deserunt modi similique quibusdam asperiores.</p>
            </div>
            <div class="col-12 col-sm-6 mt-5">
                <h1>hi</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam accusamus facere iusto, autem soluta amet sapiente ratione inventore nesciunt, a maxime quasi consectetur rerum illum deserunt modi similique quibusdam asperiores.</p>
            </div>
        </div>
    </div>
</div>
{% else %}
    {{super()}}
    {% for post in posts %}
        {# post #}
    {% endfor %}
{% endif %}
{% endblock %}