{% extends 'common.html'%}
{% block content %}
<div class="site-space-background"></div>
<div class="site-main-banner container">
    <div class="row text-light">
        <div class="col-12 text-center">
            <h1><a id='heading' href="/">Prosforá</a></h1>
            <h4 id='sub-heading'>Social Media for Artists</h4>
            <div class="d-flex justify-content-center">
                <div class="searchbar mt-3">
                    <input class="search_input" type="text" name="" placeholder="Search Something...">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
</div>
{% endblock %}