{% extends 'common.html'%}
{% block content %}
<div class="site-space-background"></div>
<div class="site-main-banner container">
    <div class="row text-light">
        <div class="col-12 text-center">
            <h1><a id='heading' href="/">Prosforá</a></h1>
            <h4 id='sub-heading'>Social Media for Artists</h4>
            <div class="d-flex justify-content-center">
                <form action="/search">
                    <div class="searchbar mt-3">
                        <input class="search_input" type="text" name="q" placeholder="Search Something...">
                        <button class="search-btn- search_icon" href="">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="landing-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12">
                
            </div>

            <div class="col-12 col-sm-12">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}