{% extends "common.html" %}
{% block content %}
<div class=content-section>
    {{super()}}
    <div class="row">
        <div class="col-lg-6 d-none d-lg-flex">
            <div style="">
                <img src="/static/images/backgrounds/1033.jpg" alt="" style='width:100%;height: 80vh;'>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="mt-5">
                <h1 class="display-4 mb-4">Login</h1>
                <form method="POST" autocomplete="on">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email(class="form-control form-control-lg") }}
                    </div>
                    {% for error in form.email.errors %}
                    <div class="ml-3 mb-3 text-danger"> {{ error }} </div>
                    {% endfor %}
                    <div class="form-group">
                        {{ form.password(class="form-control form-control-lg") }}
                    </div>
                    {% for error in form.password.errors %}
                    <div class="ml-3 mb-3 text-danger"> {{ error }} </div>
                    {% endfor %}
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                    <small class="text-muted ml-2">
                        <a href="#">Forgot Password?</a>
                    </small>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Register Now</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}