{% extends "common.html" %}
{% block title%}
{{" ".join(userInfo.name.split()[:2])}} - {{super()}}
{% endblock %}
{% block content %}
<div class='profile_page'>
    {{super()}}
    <div class="coverPhoto">
        <div class="container">
            <div class="userInfo row">
                <div class="profilePic col-12 col-md-6 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="my-5">
                                <img src="/static/images/profile/profilePic.jpg" alt="username's Profile Picture" class="proPic mx-auto d-block img-fluid" title="{{userInfo.name}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-2 mt-md-5">
                    <div class="row pb-5">
                        <div class="col-12 mt-0 mt-md-5 text-center text-md-left">
                            <p class="userBannerInfo">{{userInfo.name}}</p>
                            <br>
                            <p class="userBannerInfo">{{userInfo.username}}</p>
                            <br>
                            <p class="userBannerInfo">{{userInfo.country}}</p>
                            <br>
                            {% if current_user.is_authenticated and current_user.userID == userInfo.userID %}
                            <a href="/settings" class="btn sexy-font btn-outline-light">SETTINGS</a>
                            {% else %}
                            <a href="#" class="btn btn-success">FOLLOW</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto">
                <div class="row p-1 sexy-font">
                    <div class="col-6 text-center">
                        <a class='follow-list-link' href="/profile/{{userInfo.username}}/followers">
                            <h1 class="h2 p-2">Followers</h1>
                            <p class="">{{userInfo.totalFollowers}}</p>
                        </a>
                    </div>
                    <div class="col-6 text-center">
                        <a class='follow-list-link' href="/profile/{{userInfo.username}}/following">
                            <h1 class="h2 p-2">Following</h1>
                            <p class="">{{userInfo.totalFollowing}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-content sexy-font">
    <div class="container p-3">
        <h1 class='h3'>{{userInfo.name.split()[0]}}'s Posts</h1>
        <div class="row">
            {# Actual Content #}
            {# Images #}
            <div class="col col-lg-4 col-sm-12">
                <div class="card m-2 mx-auto image-post">
                    <a href="/{{userInfo.username}}/posts/POSTID" class='postLink'>
                        <div class="img-hover-zoom img-hover-zoom--quick-zoom">
                            <img class="card-img-top" src="/static/images/test_images/img (7).jpeg" alt="Card image cap">
                        </div>
                        <div class="card-img-overlay card-img-overlay-up pb-3">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                    <div class="actions justify-content-end d-flex card-img-overlay card-img-overlay-down">
                        <button class="btn mx-2 btn-outline-light fas fa-thumbs-up"></button><button class="btn btn-outline-light fas fa-thumbs-down"></button>
                    </div>
                </div>
            </div>
            {# Videos #}
            <div class="col col-lg-4 col-sm-12">
                <div class="card m-2 mx-auto video-post" onmouseenter="play(this)" onmouseleave="pause(this);">
                    <a href="/{{userInfo.username}}/posts/POSTID" class='postLink'>
                        <video class="card-img-top" src="/static/videos/test/tanvi.mp4" allowfullscreen muted></video>
                        <div class="card-img-overlay card-img-overlay-up pb-3">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                    <div class="actions justify-content-end d-flex card-img-overlay card-img-overlay-down">
                        <button class="btn mx-2 btn-outline-light fas fa-thumbs-up"></button><button class="btn btn-outline-light fas fa-thumbs-down"></button>
                    </div>
                </div>
            </div>
            {# Audios #}
            <div class="col col-lg-4 col-sm-12">
                <div class="card m-2 mx-auto audio-post">   
                    <a href="/{{userInfo.username}}/posts/POSTID" class='postLink'>
                        <div class="img-hover-zoom img-hover-zoom--quick-zoom">
                            <img class="card-img-top" src="/static/images/test_images/img (6).jpeg" alt="Card image cap">
                        </div>
                    </a>
                    <div class="card-img-overlay card-img-overlay-fixed pb-3">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-text"><span class="duration"></span></h6>
                        <div id="waveform-audio" class="mb-2 audio-file"></div>
                        <div class="actions mt-2">
                            <span class="text-left">
                                <button class="btn mx-2 btn-outline-light far fa-play-circle playPause" onclick="wavesurfer.playPause();">
                                </button>
                            </span>
                            <span class="text-right">
                                <button class="btn mx-2 btn-outline-light fas fa-thumbs-up">
                                </button>
                                <button class="btn mx-2 btn-outline-light fas fa-thumbs-down">
                                </button>
                                <button class="btn mx-2 btn-outline-light fas fa-download">
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}