{% extends "common.html" %}
{% block content %}
<div class='profile_page'>
    {{super()}}
    <div class="coverPhoto">
        <div class="container">
            <div class="userInfo d-flex justify-content-center">
                <div class="profilePic">
                    <img src="/static/images/profile/profilePic.jpg" alt="username's Profile Picture" class="my-5" title="Name">
                </div>
                <p>Name [Username : user_name]</p>
                <p>Email Address</p>
                <p>Gender : Male</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}