{% extends "common.html" %}
{% block content %}
<div class=content-section>
    {{super()}}

    <div class="row">
        <div class="col-lg-6 d-none d-lg-flex">
            <div class="img-fluid">
                <img src="/static/images/backgrounds/1010.jpg" alt="" style='width:100%;height: 80vh;'>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="mt-5">
                <h1 class="display-4 mb-4">Register</h1>
                <form method="POST" action="">
                    {{form.hidden_tag()}}
                    {% for field in form %}
                    {% if field.type != 'CSRFTokenField' and field.type!='SubmitField' %}
                    <div class="form-group">
                        {{ field(class="form-control form-control-lg") }}
                    </div>
                    {% for error in field.errors %}
                    <div class="ml-3 mb-2 text-danger"> {{ error }} </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {{ form.submit(class='form-control btn btn-dark')}}
                </form>
            </div>
        </div>
    </div>
    {% endblock %}