{% extends "common.html" %}
{% block content %}
<div>
    <form method="POST" action="">
        <fieldset>
            <div>
                {{ register.name.label }}
                {{ register.name }}
            </div>
            <div>
                {{ register.city.label }}
                {{ register.city }}
            </div>
            <div>
                {{ register.number.label }}
                {{ register.number }}
            </div>
            <div>
                {{ register.email.label }}
                {{ register.email }}
            </div>
            <div>
                {{ register.password.label }}
                {{ register.password }}
            </div>
            <div>
                {{ register.cpassword.label }}
                {{ register.cpassword }}
            </div>
        </fieldset>
        <div>
            {{ register.submit }}
        </div>
    </form>
</div>
{% endblock %}