{% extends "common.html" %}
{% block content %}
<div class="content-section">
    <div class="media mx-auto">
        <div class="profilePic col-12 col-md-6 d-flex justify-content-center">
            <img class="rounded-circle proPic account-img" src="{{'/static/images/profile/profilePic.jpg'}}" id='settings-proPic'>
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}